.App {
  position: relative;
  position: relative;
  height: 100%;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
}
