.tasks {
    // border: $testBorder;
    width: 400px;
    background-color: rgb(250, 248, 249);
    display: flex;
    flex-direction: column;
    color: rgb(100, 100, 100);

    // part 1
    &-header {
        display: flex;
        align-items: center;
        // border-bottom: $GRAY_BORDER;
        height: 50px;
        padding: 5px 10px;

        span:first-child {
            font-size: 25px;
            height: fit-content;
        }

        span:last-child {
            margin: 0 0 5px 10px;
            font-weight: 500;
        }
    }

    // part 2
    &-main {
        display: flex;
        border-top: $GRAY_BORDER;
        border-bottom: $GRAY_BORDER;

        &-state {
            // background: rgb(37, 174, 64);
            flex-direction: column;
            flex-grow: 3;
            // border: $testBorder;
            width: 20px;

            > span {
                display: block;
                font-size: 12px;
                font-weight: 900;
                margin: 10px 15px;
            }

            div {
                margin: 10px 10px;
                display: flex;
                align-items: center;
                background-color: rgb(184, 180, 179);
                color: #fff;
                border-radius: 10px;
                justify-content: space-between;
                
                span:first-child {
                    margin-left: 10px;;
                }

                span:last-child {
                     margin-top: 7px;
                     cursor: pointer;
                }
            }
        }

        &-upload {
            // border: $testBorder;
            display: flex;
            flex-grow: 2;
            align-items: center;
            justify-content: flex-end;
            padding-right: 20px;

            
        }
    }


}